<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- <div class="container"> -->
    <!-- <div class="row justify-content-center"> -->
      <div class="col-lg-20">
        <!-- Form Basic -->
        <!-- <div class="card mb-4"> -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="h3 mb-0 text-gray-800">Edit Employee details</h3>
          </div>
          <div class="card-body">
            <form method="post" role="form"  enctype="multipart/form-data"  class="row g-3 shadow border border-radius-xl m-auto px-2 mx-2 mb-5 pb-3 pt-2 border-light text-secondary form-letter">
              {% csrf_token %}
             
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Employee Name<span class="text-danger">*</span></label>
                  {{ form.name }}
                  {{ form.name.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Employee Address<span class="text-danger">*</span></label>
                  {{ form.address }}
                  {{ form.address.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Start date<span class="text-danger">*</span></label>
                  {{ form.emp_start_date }}
                  {{ form.emp_start_date.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">End date<span class="text-danger">*</span></label>
                  {{ form.emp_end_date }}
                  {{ form.emp_end_date.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputPassword1">Image</label>
                  {{ form.photo }}
                  {{ form.photo.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Status<span class="text-danger">*</span></label>
                  {{ form.status }}
                  {{ form.status.errors }}
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        <!-- </div> -->
      </div>
    <!-- </div> -->
  <!-- </div> -->
</body>
</html>
{% endblock %}
